@media (min-width: 1920px) {
    html {
      font-size: 0.8333333333vw;
    }
    #main-container {
      width: 60rem;
    }
    #first-frames-container {
    flex-direction: row;
    }
    #second-frames-container {
      flex-direction: row;
    }
    #frame1 {
      padding: 2rem;
      gap: 1rem;
    }
    #frame1 #info-container {
      height: 14.125rem;
    }
    #title-container {
      height: 10.125rem;
    }
    #companyLabelH1 {
      font-size: 2.25rem;
      width: 36rem;
      line-height: 2.8125rem;
    }
    #companyLabelH1 ::after {
      content: "\A";
      white-space: pre-wrap;
    }
    #companyLabelH2 {
      width: 36rem;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    #buttons-container {
      flex-direction: row;
      gap: 1rem;
      width: 472px;
    }
    #migration-to-magazin {
      width: 29.5rem;
    }
    #migration-to-magazin h2 {
      width: 8.3125rem;
    }
    #migration-to-forum {
      width: 1418.75rem;
    }
    #migration-to-forum h2 {
      width: 8.1875rem;
    }
    #frame2 {
      width: 100%;
      height: unset;
    }
    #frame2-info-container {
      gap: 1.5rem;
      height: 100%;
      padding: 0px 1.5rem 2rem 1.5rem;
    }
    #frame2-info-container h2 {
      line-height: 1.75rem;
    }
    #info-blocks-container {
      flex-direction: column;
      height: unset;
    }
    .info-block {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }
    .img-container {
      width: 3rem;
      height: 3rem;
    }
    #text-container h2 {
      line-height: 1.25rem;
    }
    #text-container {
      width: 10rem;
    }
    #text-container a {
      font-size: 1rem;
      line-height: 20px;
      letter-spacing: 0px;
    }
    #frame4 {
      height: 18.5rem;
    }
    #frame5 {
      width: 45rem;
      height: 14.8rem;
      padding: 0px 0px 0px 2rem;
      flex-direction: row;
      gap: 1.375rem;
    }
    #frame5-info-container {
      width: 24.4375rem;
      height: 14.8rem;
    }
    #frame5-info-container h2 {
      line-height: 2rem;
    }
    #bonus-blocks-container {
      flex-direction: row;
      gap: 1rem;
    }
    .bonus-block #text-container h2 {
      width: 15rem;
    }
    #phone {
      width: 17.1875rem;
      height: 14.8rem;
    }
    .swiper {
      height: 13.625rem;
    }
    .swiper-wrapper {
      height: 12.75rem !important;
    }
    .swiper-slide {
      width: 19rem !important;
    }
    .swiper-slide img{
      height: 12.75rem !important;
    }
  }
  