@media (min-width: 1920px) {
  html {
    font-size: 0.8333333333vw;
  }
  #main-container {
    width: 60rem;
  }
  #first-frames-container {
    flex-direction: row;
    width: 100%;
  }
  #second-frames-container {
    flex-direction: row;
  }
  #frame1 {
    padding: 2rem;
    gap: 1rem;
  }
  #frame1 #info-container {
    height: 14.125rem;
  }
  #title-container {
    height: 10.125rem;
  }
  #companyLabelH1 {
    font-size: 2.25rem;
    width: 36rem;
    line-height: 2.8125rem;
  }
  #companyLabelH1 ::after {
    content: "\A";
    white-space: pre-wrap;
  }
  #companyLabelH2 {
    width: 36rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  #buttons-container {
    flex-direction: row;
    gap: 1rem;
    width: 472px;
  }
  #migration-to-magazin {
    width: 29.5rem;
  }
  #migration-to-magazin h2 {
    width: 8.3125rem;
  }
  #migration-to-forum {
    width: 1418.75rem;
  }
  #migration-to-forum h2 {
    width: 8.1875rem;
  }
  #frame2 {
    width: 100%;
    height: unset;
  }
  #frame2-info-container {
    gap: 1.5rem;
    padding: 0px 1.5rem 2rem 1.5rem;
    flex-grow: 1;
  }
  #frame2-info-container h2 {
    line-height: 1.75rem;
  }
  #info-blocks-container {
    flex-direction: column;
    height: 12rem;
  }
  .info-block {
    flex-direction: row;
    align-items: center;
  }
  #info-blocks-container .text-container h2 {
    line-height: 1.25rem;
  }
  #info-blocks-container .text-container #delivery {
    line-height: 1.5rem;
  }
  .img-container {
    width: 3rem;
    height: 3rem;
  }
  #text-container h2 {
    line-height: 1.25rem;
  }
  #text-container {
    width: 10rem;
  }
  #text-container a {
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0px;
  }
  #domens ::before {
    content: unset;
  }
  #frame3-label-container {
    align-items: center;
  }
  #frame3 {
    padding: 2rem 1.5rem;
    justify-content: space-between;
  }
  #frame4 {
    padding: 2rem 1.5rem;
  }
  #frame5 {
    padding: 0px 0px 0px 2rem;
    flex-direction: row;
    gap: 1.375rem;
  }
  #frame5-info-container {
    width: 37.4375rem;
    height: 13.1875rem;
  }
  #frame5-info-container h2 {
    line-height: 2.25rem;
  }
  #add ::before {
    content: unset;
  }
  #bonus-blocks-container {
    flex-direction: row;
    gap: 1rem;
  }
  .bonus-block #text-container h2 {
    width: 15rem;
  }
  #phone {
    width: 17.1875rem;
    height: 13.1875rem;
  }
  .swiper {
    height: 13.625rem;
  }
  .swiper-wrapper {
    height: 12.75rem !important;
  }
  .swiper-slide {
    width: 19rem !important;
  }
  .swiper-slide img {
    height: 12.75rem !important;
  }
}
