html,
body {
  margin: 0px;
  padding: 0px;
  background: #021a3f;
  font-size: 0.8333333333vw;
  font-family: "PT Sans", serif;
  color: white;
  display: flex;
  justify-content: center;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* SVG */
#rectangle {
  width: 19rem;
  height: 2.95125rem;
  background-image: url(./assets/svg/rectangle.svg);
  background-repeat: no-repeat;
}
#emblem {
  width: 3rem;
}
#delivery-box {
  width: 3rem;
}
#reference {
  width: 3rem;
}
#bookmark {
  width: 2rem;
}
#gmail {
  width: 2rem;
}
#telegram {
  width: 2rem;
}
#vk {
  width: 2rem;
}

/* PS */
#PS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem 0px;
  gap: 2.5rem;
  width: 100%;
}
.PS-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0.5rem;
  width: 100%;
}
.PS-text-container h1 {
  width: 100%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}
.PS-text-container h2 {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  opacity: 0.7;
}

/* DISPLAY */
.display-flex {
  display: flex;
}

/* FONT-SIZE */
.font-size-2-dot-25rem {
  font-size: 2.25rem;
}
.font-size-1-dot-5rem {
  font-size: 1.5rem;
}
.font-size-1-dot-25rem {
  font-size: 1.25rem;
}
.font-size-1-dot-125rem {
  font-size: 1.125rem;
}
.font-size-1rem {
  font-size: 1rem;
}
.font-size-0-dot-875rem {
  font-size: 0.875rem;
}

/* FONT-WEIGHT */
.font-weight-400 {
  font-weight: 400;
}
.font-weight-700 {
  font-weight: 700;
}

/* FLEX-DIRECTION */
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}

/* JUSTIFY-CONTENT */
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}

/* ALIGN-ITEMS */
.align-items-center {
  align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
}

/* GAP */
.gap-2-dot-5rem {
  gap: 2.5rem;
}
.gap-2rem {
  /* 32px */
  gap: 2rem;
}
.gap-1-dot-5rem {
  gap: 1.5rem;
}
.gap-1-dot-375rem {
  gap: 1.375rem;
}
.gap-1-dot-25rem {
  gap: 1.25rem;
}
.gap-1rem {
  gap: 1rem;
}
.gap-0-dot-8rem {
  gap: 0.8rem;
}
.gap-0-dot-625rem {
  gap: 0.625rem;
}
.gap-0-dot-5rem {
  gap: 0.5rem;
}
.gap-0-dot-25rem {
  gap: 0.25rem;
}

/* BORDER */
.border-0-dot-16rem {
  /* 1px */
  border: 0.16rem solid #ffffff;
  margin: -0.16rem;
}
.border-0-dot-16rem-orange {
  /* 1px */
  border: 0.08rem solid #ff9900;
  margin: -0.08rem;
}

/* BORDER-RADIUS */
.border-radius-1rem {
  /* 16px */
  border-radius: 1rem;
}
.border-radius-0-dot-5rem {
  /* 8px */
  border-radius: 0.5rem;
}

/* BORDER-RADIUS-BOTTOM-LEFT */
.border-radius-bottom-left-1rem {
  /* 16px */
  border-bottom-left-radius: 1rem;
}

/* BORDER-RADIUS-BOTTOM-RIGHT */
.border-radius-bottom-right-1rem {
  /* 16px */
  border-bottom-right-radius: 1rem;
}

/* PADDIG */
.padding-2-dot-5rem {
  /* 40px */
  padding: 2.5rem;
}
.padding-2-dot-25rem {
  /* 36px */
  padding: 2.25rem;
}
.padding-2rem {
  /* 32px */
  padding: 2rem;
}
.padding-1-dot-5rem {
  /* 24px */
  padding: 1.5rem;
}
.padding-1rem {
  /* 16px */
  padding: 1rem;
}

/* PADDING-LEFT */
.padding-left-2-dot-25rem {
  /* 36px */
  padding-left: 2.25rem;
}
.padding-left-2rem {
  /* 32px */
  padding-left: 2rem;
}
.padding-left-1-dot-5rem {
  /* 24px */
  padding-left: 1.5rem;
}

/* PADDING-RIGHT */
.padding-right-2rem {
  /* 32px */
  padding-right: 2rem;
}
.padding-right-1-dot-5rem {
  /* 24px */
  padding-right: 1.5rem;
}

/* PADDING-TOP */
.padding-top-2rem {
  padding-top: 2rem;
}
.padding-top-1-dot-5rem {
  padding-top: 1.5rem;
}
.padding-top-1rem {
  padding-top: 1rem;
}
.padding-top-0-dot-75rem {
  padding-top: 0.75rem;
}
.padding-top-0-dot-25rem {
  padding-top: 0.25rem;
}

/* PADDING-BOTTOM */
.padding-bottom-2rem {
  padding-bottom: 2rem;
}
.padding-bottom-1-dot-5rem {
  padding-bottom: 1.5rem;
}
.padding-bottom-1rem {
  padding-bottom: 1rem;
}
.padding-bottom-0-dot-75rem {
  padding-bottom: 0.75rem;
}
.padding-bottom-0-dot-25rem {
  padding-bottom: 0.25rem;
}

/* LINE-HEIGHT */
.line-height-2-dot-8125rem {
  line-height: 2.8125rem;
}
.line-height-2-dot-25rem {
  line-height: 2.25rem;
}
.line-height-1-dot-75rem {
  line-height: 1.75rem;
}
.line-height-1-dot-5rem {
  line-height: 1.5rem;
}
.line-height-1-dot-3125rem {
  line-height: 1.3125rem;
}
.line-height-1-dot-25rem {
  line-height: 1.25rem;
}
.line-height-1-dot-125rem {
  line-height: 1.125rem;
}
.line-height-1rem {
  line-height: 1rem;
}

/* LINK */
.link-color {
  color: #ff9900;
}
.link-color:visited {
  color: #ff8a0080;
}

/* COLOR */
.color-white {
  color: #fff;
}
.color-black {
  color: #232323;
}
.color-gray {
  color: #666666;
}
.color-orange {
  color: #ff9900;
}

/* BACKGROUND */
.background {
  background: #021a3f;
}
.background-white {
  background: #fff;
}
.background-steel {
  background: linear-gradient(
      180deg,
      rgba(11, 112, 226, 0.7) 0%,
      #0b70e2 36.29%
    ),
    url(./assets/img/header-background.png);
}
.background-orange-gradient {
  background: linear-gradient(180deg, #ffaa00 0%, #ff782c 100%);
}
.background-gray {
  background: rgba(255, 255, 255, 0.1);
}
.background-light-green {
  background: linear-gradient(
      0deg,
      rgba(55, 172, 9, 0.1),
      rgba(55, 172, 9, 0.1)
    ),
    linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
}
.background-add {
  background: url(./assets/img/tg-background.png), #e7f1fd;
}
.background-phone {
  background: url(./assets/img/Mockup1.png);
}
.background-blue {
  background: linear-gradient(180deg, #46a9ee 0%, #3889d5 100%),
    linear-gradient(180deg, #ffaa00 0%, #ff782c 100%);
}

/* WIDTH */
.width-100-percent {
  /* 1920px */
  width: 100%;
}
.width-60rem {
  /* 960px */
  width: 60rem;
}
.width-37-dot-4375rem {
  /* 599px */
  width: 37.4375rem;
}
.width-36rem {
  /* 576px */
  width: 36rem;
}
.width-29-dot-5rem {
  /* 472px */
  width: 29.5rem;
}
.width-26-dot-5rem {
  /* 472px */
  width: 26.5rem;
}
.width-15-dot-899375rem {
  /* 254.39px */
  width: 15.899375rem;
}
.width-15rem {
  /* 240px */
  width: 15rem;
}
.width-14-dot-3125rem {
  /* 229px */
  width: 14.3125rem;
}
.width-9-dot-14875rem {
  /* 146.38px */
  width: 9.14875rem;
}
.width-8-dot-3125rem {
  /* 133px */
  width: 8.3125rem;
}
.width-8-dot-1875rem {
  /* 133px */
  width: 8.1875rem;
}
.width-3rem {
  /* 48px */
  width: 3rem;
}
.width-2rem {
  /* 32px */
  width: 2rem;
}
.width-1-dot-75rem {
  /* 28px */
  width: 1.75rem;
}
.width-1-dot-5rem {
  /* 24px */
  width: 1.5rem;
}
.width-1-dot-24625rem {
  /* 19.94px */
  width: 1.24625rem;
}

/* MIN-WIDTH */
.min-width-0 {
  min-width: 0;
}

/* HEIGHT */
.height-100-percent {
  height: 100%;
}
.height-25-dot-948125rem {
  /* 415,17 */
  height: 25.948125;
}
.height-3-dot-5rem {
  /* 56px */
  height: 3.5rem;
}
.height-3rem {
  /* 48px */
  height: 3rem;
}
.height-2-dot-5rem {
  /* 40px */
  height: 2.5rem;
}
.height-2rem {
  /* 32px */
  height: 2rem;
}
.height-1-dot-75rem {
  /* 28px */
  height: 1.75rem;
}
.height-1-dot-5rem {
  /* 24px */
  height: 1.5rem;
}
.height-1-dot-3125rem {
  /* 21px */
  height: 1.3125rem;
}
.height-1-dot-05rem {
  /* 16.8px */
  height: 1.05rem;
}

/* SWIPER */
.swiper {
  width: 100%;
}
.swiper .swiper-slide {
  width: 304px !important;
}

/* FONT-FACE */
@font-face {
  font-family: "PT Sans";
  src: url("./assets/fonts/PTSans/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("./assets/fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
